# -e git+https://github.com/waylayio/waylay-py-core.git@e1905bb892afd1b081add6273f5e684e3596b7b6#egg=waylay_sdk_plugin_example&subdirectory=test/plugin
PyYAML==6.0.2
cfgv==3.4.0
click==8.1.7
coverage==7.6.8
distlib==0.3.9
filelock==3.16.1
identify==2.6.3
iniconfig==2.0.0
mypy-extensions==1.0.0
mypy==1.13.0
nodeenv==1.9.1
platformdirs==4.3.6
pluggy==1.5.0
pre_commit==4.0.1
pytest-asyncio==0.24.0
pytest-cov==6.0.0
pytest-httpx==0.34.0
pytest-mock==3.14.0
pytest==8.3.3
ruff==0.8.0
sse-starlette==2.1.3
starlette==0.41.3
syrupy==4.8.0
types-appdirs==1.4.3.5
types-python-dateutil==2.9.0.20241003
uvicorn==0.32.1
virtualenv==20.28.0
