annotated-types==0.6.0
anyio==4.2.0
appdirs==1.4.4
astroid==3.0.3
autopep8==2.0.4
certifi==2024.2.2
charset-normalizer==3.3.2
coverage==7.4.1
dill==0.3.8
docformatter==1.7.5
ecdsa==0.18.0
h11==0.14.0
httpcore==1.0.2
httpx==0.26.0
idna==3.6
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
mypy==1.8.0
mypy-extensions==1.0.0
packaging==23.2
platformdirs==4.2.0
pluggy==1.4.0
pyasn1==0.5.1
pycodestyle==2.11.1
pydantic==2.6.1
pydantic_core==2.16.2
pydocstyle==6.3.0
pylint==3.0.3
pytest==7.4.4
pytest-asyncio==0.23.4
pytest-cov==4.1.0
pytest-mock==3.12.0
pytest_httpx==0.29.0
python-dateutil==2.8.2
python-jose==3.3.0
python-magic==0.4.27
rsa==4.9
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
syrupy==4.6.1
tomlkit==0.12.3
typeguard==4.1.5
types-appdirs==1.4.3.5
types-pyasn1==0.5.0.20240205
types-python-dateutil==2.8.19.20240106
types-python-jose==3.3.4.20240106
typing_extensions==4.9.0
untokenize==0.1.1
waylay_registry_api @ git+https://github.com/waylayio/waylay-py-services@13f211925f826cee8537220e705c0eb98b62b7cd#subdirectory=services/registry/waylay_registry_api
waylay_registry_types @ git+https://github.com/waylayio/waylay-py-services@13f211925f826cee8537220e705c0eb98b62b7cd#subdirectory=services/registry/waylay_registry_types
