name: CI
on:
  push:
    branches: [ "main" ]
    tags:
        - '**'
  pull_request:
    branches: [ "main" ]

jobs:
  unit_test:
    name: Unit Test Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
        matrix:
          python-version: ['3.10', '3.11', '3.12', '3.13']

    steps:
      - uses: actions/checkout@v6
      - name: Set up Git with token to access other private repositories
        run: git config --global url."https://${{ secrets.OTOMATOR_PAT }}@github".insteadOf https://github
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - run: make ci-install
      - run: make ci-code-qa
      - run: make ci-test-unit
  
  integration_test:
    name: Unit and Integration Test Python 3.11
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Git with token to access other private repositories
        run: git config --global url."https://${{ secrets.OTOMATOR_PAT }}@github".insteadOf https://github
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.11'
      - run: make ci-install-latest
      - run: make ci-test-unit
      - run: make ci-test-integration
        env:
          WAYLAY_TEST_USER_ID: ${{vars.WAYLAY_TEST_USER_ID}}
          WAYLAY_TEST_USER_SECRET: ${{secrets.WAYLAY_TEST_USER_SECRET}}
